server {

  {% if item.nginx.app_domain|default(False) %}
  listen 80;  
  server_name {{item.nginx.app_domain}};
  {% else %}
  listen 80 default_server;
  {% endif %}
  charset utf-8;

  root {{item.nginx.root}};

  proxy_intercept_errors on;

  # opt-in to the future
  add_header "X-UA-Compatible" "IE=Edge,chrome=1";

  location / {
    index index.html;
  }

  location /api {
    proxy_pass http://127.0.0.1:3000;
    proxy_redirect     off;
  }

  location /socket.io/ {
    proxy_pass http://127.0.0.1:3000;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

}
